extends layout

block content

    h1 Your past conversations

    form(action="/recordings")
        input(type="search", placeholder="search your conversations", name="q", size="100", style="font-size: 20px;") 
        input(type="submit" style="font-size: 20px;")
    
    ol
    each recording in recordingsList
        li= recording.title
 