extends layout

block content
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>


h1 Your past conversations

    form(name="search", method="get")
        div.input
            span.label Title
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")

    ol
    each recording in recordingsList
        li= recording.title
 