body {
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

a {
  color: #00B7FF;
}

em {
  background: rgba(255, 255, 0, 0.5);
  padding: 2px 4px;
  font-style: normal;
}